.title {
  color: #02ccba;
}
h1{
	color: #ff0000;
}
html{
	background-color: #000000;
}
.gotiusa img {
	height: 300px;
	width: 500px;
}
p{
	color: #ff0000;
}
a{
  color: #ff0000;
}
.apple img{
  height: 50px;
  width: 50px;
}

